@model wxPlatForm.OAuth.OAuthUser
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
<body>
    <div>
        <p><span>result:</span>success</p>
        <p><span>openid:</span>@Html.DisplayFor(item => item.openid)</p>
        <p><span>nickname:</span>@Html.DisplayFor(item => item.nickname)</p>
        <p><span>headimgurl:</span>@Html.DisplayFor(item => item.headimgurl)</p>
      
        <p><span>sex:</span>@Html.DisplayFor(item => item.sex)</p>
        <p><span>country:</span>@Html.DisplayFor(item => item.country)</p>
        <p><span>province:</span>@Html.DisplayFor(item => item.province)</p>
    </div>
</body>
</html>
